<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Certifcado</title>


    <style type="text/css">


    </style>
</head>


<body>
  
    <div>
        
        <h2>Certificado de conclusão do curso <%= course %></h2>
        <p>este certificado atesta que o utilizador <%= user %> concluiu com sucesso o curso <%= course %>
            no dia <%= date %>
        </p>
        
    </div>
</body>


</html>